.header {
    position: relative;
    height: 778px;
    overflow: hidden;

    &-wrap {
        position: relative;
    }

    @import "background";
    @import "logo";
    @import "navbar";
    @import "transaction";
    @import "content";
    @import "card";
    @import "decoration";


}