.button {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 4px;
    padding: 14px 28px;
    min-width: 134px;

    &-primary {
        background-color: $orange;
        color: $white-color;
        letter-spacing: -0.02em;
    }

    &-light {
        background-color: $light-orange;
        color: $dark-orange;
        letter-spacing: -0.01em;
    }
}