// fonts
$font-main: 'Poppins', sans-serif;
$font-sub: 'Lato', sans-serif;

// colors
$pink-red-color: #D52A56;
$dark-purple-color: #491556;
$orange: #FF852F;
$dark-orange: #FF7B1E;
$light-orange: #FFF0ED;
$medium-purple-color: #491757;
$black-color: #000;
$white-color: #fff;
$text-heading: #0F0F10;
$text-paragraph: #181819;