$mb-color: #E5E5E5;
$white-color: #fff;
$black-color: #000;
$heading-color: #292019;
$href-color: #392F27;
$text-color: #594D43;
$label-color: #FF1919;
$desc-color: #6F6863;
$card-color: #9A9088;