&-category {
    position: relative;
    max-width: 235px;
    width: 100%;
    margin-left: 264px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 352px;

    &::-webkit-scrollbar {
        width: 6px;
        background-color: #ccc;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        height: 100px;
        -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
        background-color: #D62929;
    }

    &__card {
        @include flex(center, flex-start, 0 20px);
        cursor: pointer;

        img {
            width: 26px;
            height: 26px;
        }

        p {
            font-weight: 600;
            font-size: 1.2rem;
            line-height: calc(14 / 12);
            text-transform: capitalize;
            color: $card-color;
        }

        &:not(:first-child) {
            margin-top: 40px;
        }

        &--active {
            background-color: #FF8351;
            border-radius: 10px;
            margin-right: 59px;
            padding: 15px;

            p {
                color: $white-color;
            }
        }
    }


}