&-card1 {
    margin: 60px 32px 108px 60px;
    // background-image: linear-gradient(0deg, #ECEEF2, #ECEEF2), linear-gradient(0deg, #F6F7FA, #F6F7FA);
    // background-clip: content-box, padding-box;
    background-color: #ECEEF2;

    img {
        height: 18px;
        margin: 10px 16px;
        vertical-align: middle;
    }
}


&-list {
    position: relative;
    padding: 0 2px;
    background-color: #ECEEF2;
    flex: 1;

    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 322px;
        height: 60px;

    }
}

&-item {
    display: flex;
    align-items: center;
    padding: 19px 14px;
    background-color: $white-color;
    flex: 1;


    &-icon {
        width: 21px;
        height: 21px;
        border-radius: 50%;
        border: 3px solid transparent;
    }

    &-title {
        padding-left: 15px;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.2rem;
        letter-spacing: -0.02em;
        color: #0F1A26;
        font-family: $font-main;
    }

    &-completed {
        flex: 1;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2.1rem;
        text-align: right;
        letter-spacing: -0.02em;
        color: #FF852F;
    }

    &:nth-child(1) {
        .solution-item-icon {
            border-color: #FF852F;
        }

        .solution-item-completed {
            color: #FF852F;

        }
    }

    &:nth-child(2) {
        .solution-item-icon {
            border-color: #979FA6;
        }

        .solution-item-completed {
            color: #979FA6;

        }
    }

    &:nth-child(3) {
        .solution-item-icon {
            border-color: #EC483F;
        }

        .solution-item-completed {
            color: #EC483F;

        }
    }
}

&-item+.solution-item {
    margin-top: 2px;
}

&-newtask {
    position: absolute;
    width: 322px;
    height: 60px;
    top: 170px;
    left: -98px;
    background-color: $white-color;
    box-shadow: -40px -40px 60px -15px rgba(201, 201, 201, 0.36);
    border-radius: 2px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &-icon {
        --height: 20px;
        width: var(--height);
        height: var(--height);
        border-radius: 50%;
        background-color: #68E0A7;
        text-align: center;


        i {
            font-size: 8px;
            color: $white-color;
            line-height: var(--height);
        }
    }

    &-title {
        flex: 1;
        padding: 15px;
        line-height: 3rem;
        font-size: 1.5rem;
        color: $black-color;
    }
}