&-features {
    display: flex;
    justify-content: space-between;
    // gap: 0 145px;
}

&-content {
    margin: 0 27px;
    width: 345px;

    h3 {
        font-weight: 600;
        font-size: 5rem;
        line-height: 5.6rem;
        letter-spacing: -0.02em;
        color: $text-heading;
        margin-bottom: 22px;
    }

    p {
        margin-bottom: 40px;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #242426;
    }

}

&-show {
    width: 416px;
    padding: 60px 32px 108px 60px;
    background-color: #F6F7FA;
}

&-list {
    // display: flex;
}

&-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 14px;
    background-color: $white-color;

    &-icon {
        width: 21px;
        height: 21px;
        border-radius: 50%;
        border: 3px solid #FF852F;
    }

    &-title {
        padding-left: 15px;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.2rem;
        letter-spacing: -0.02em;
        color: #0F1A26;
    }

    &-completed {
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2.1rem;
        text-align: right;
        letter-spacing: -0.02em;
        color: #FF852F;
    }
}