&-features {
    margin: 0 267px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 170px;

        &:nth-of-type(2n + 2) {
            flex-flow: row-reverse;

            .solution-content+.solution-show {
                margin-right: 145px;
                margin-left: unset;
            }

        }
    }
}